**/build
**/.venv/
**/.env
# frontend
frontend/node_modules
frontend/node_modules/**
frontend/.idea
frontend/.DS_Store
frontend/npm-debug.log
frontend/yarn-error.log
# back-end
backend//*.pyc
backend/*.pyo
backend/*.pyd
backend/__pycache__/
backend/*.egg-info/
backend/dist/
backend/*.sqlite
backend/instance/