**/build
**/.venv/
**/.env
# frontend
**/node_modules
**/node_modules/**
**/.idea
**/.DS_Store
**/npm-debug.log
**/yarn-error.log
**/package-lock.json
# back-end
**/*.pyc
**/*.pyo
**/*.pyd
**/__pycache__/
**/*.egg-info/
**/dist/
**/*.sqlite
**/instance/
**/.gdb_history